[user]
	email = wparad@gmail.com
	name = Warren Parad
[credential]
[http]
	sslVerify = true
#windows
#[diff]
#	tool = bc3
#	external = U:/bin/git-diff-wrapper.sh
#[difftool "bc3"]
#	path = C:/Program Files (x86)/Beyond Compare 2/BC2.exe
#	cmd = U:/bin/git-diff-wrapper.sh
#Linux
[diff]
        tool = meld
        external = ~/bin/git-diff-wrapper.sh
[difftool "meld"]
        path = meld
        cmd = ~/bin/git-diff-wrapper.sh
[difftool]
	prompt = false
[core]
	#Bash prompt start "" C:\Git\git-bash.exe -i
	#autocrlf = true
	editor = nano #subl #U:/bin/npp.sh
[gc]
	auto = 0
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	find-pull-request = "!f() { git log $1..${2-origin/head} --ancestry-path --oneline --merges | tail -1; }; f"
	find-tag = "!f() { git show-ref --tags -d | grep $1 | cut -d' ' -f2 | cut -d'^' -f1 | cut -d'/' -f3 ; }; f"
